.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0 2em;
  }
  .loader.inactive {
    animation: shrink-loader 3s linear forwards;
  }
  .loader h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    transition: all 0.3s ease;
    z-index: 3;
    cursor: default;
  }
  .loader-message .span {
    font-size: 2vw;
    letter-spacing: 0.15rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    z-index: 4;
    cursor: default;
  }
  .loading-message {
    margin-top: 10px;
  }
  .user-welcome {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  .loading-message, .user-welcome {
    font-weight: 200;
    font-size: 18px;
    font-family: "ROBOTO", sans-serif;
  }
  .background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
  }
  .loader-message span {
    text-shadow: 0 0 0 var(--color-carolina-blue);
  }